<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="AR3 Main Assembly.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.154E-05 0.025668 0.10214"
        rpy="0 0 0" />
      <mass
        value="0.66696" />
      <inertia
        ixx="0.0020079"
        ixy="-4.5546E-07"
        ixz="-8.9589E-07"
        iyy="0.0032919"
        iyz="-5.6387E-05"
        izz="0.001541" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.032141 -0.0063693 -0.020838"
        rpy="0 0 0" />
      <mass
        value="0.51011" />
      <inertia
        ixx="0.00048671"
        ixy="-4.2616E-06"
        ixz="3.5903E-05"
        iyy="0.00065864"
        iyz="2.2456E-06"
        izz="0.0005653" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.66667 0.69804 0.76863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1"
    type="fixed">
    <origin
      xyz="0 0 0.0867"
      rpy="3.1416 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.073915 -0.12309 -0.055771"
        rpy="0 0 0" />
      <mass
        value="0.48644" />
      <inertia
        ixx="0.0020311"
        ixy="0.001049"
        ixz="1.671E-07"
        iyy="0.00083377"
        iyz="-8.3072E-08"
        izz="0.0028232" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.66667 0.69804 0.76863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2"
    type="fixed">
    <origin
      xyz="0.064146 -0.007968 -0.083075"
      rpy="1.5708 0.5236 3.1416" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link_3">
    <inertial>
      <origin
        xyz="0.0025798 -0.0023719 -0.022728"
        rpy="0 0 0" />
      <mass
        value="0.18704" />
      <inertia
        ixx="8.3768E-05"
        ixy="-1.3684E-05"
        ixz="1.0512E-06"
        iyy="6.8019E-05"
        iyz="1.9471E-06"
        izz="9.213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/Link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.66667 0.69804 0.76863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/Link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3"
    type="fixed">
    <origin
      xyz="0.1525 -0.26414 -0.028745"
      rpy="3.1416 0 1.5708" />
    <parent
      link="Link2" />
    <child
      link="Link_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-0.0035824 -0.0010284 -0.13567"
        rpy="0 0 0" />
      <mass
        value="0.31861" />
      <inertia
        ixx="0.00058207"
        ixy="2.2241E-06"
        ixz="-4.6259E-06"
        iyy="0.00052299"
        iyz="1.481E-05"
        izz="0.00011295" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.66667 0.69804 0.76863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AR3 Main Assembly.SLDASM/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4"
    type="fixed">
    <origin
      xyz="0.011681 0.020231 -0.0367"
      rpy="1.0472 -1.5708 0" />
    <parent
      link="Link_3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>