<?xml version="1.0"?>
<launch>

  <!-- Debug mode -->
  <arg name="debug" default="false" />
  
  <!-- Load the SRDF and other configuration files -->
  <include file="$(find arm_moveit)/launch/planning_context.launch"/>

  <!-- Run the main MoveIt executable -->
  <include file="$(find arm_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="info" value="true"/>
  </include>

  <!-- launch control.launch -->
  <include file="$(find arm_moveit)/launch/ros_controllers.launch"/>

  <!-- Rviz to vizualize robot -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find arm_moveit)/launch/moveit.rviz'" />

</launch>
