<?xml version="1.0"?>
<launch>

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find arm_gazebo)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>


  <arg name="urdf_path" default="$(find arm_description)/urdf/arm_basis.urdf"/>
    
  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

    <!-- Spawn urdf into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model arm_description" />

  <!-- launch ros_controllers.launch -->
  <include file="$(find arm_moveit)/launch/ros_controllers.launch"/>



</launch>
